#!/bin/bash

shopt -s histappend

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm*|rxvt*)
    PROMPT_COMMAND='history -a; echo -ne "\033]0;${USER}@${HOSTNAME}: ${PWD/$HOME/~}\007"'
    ;;
#screen)
#    PROMPT_COMMAND='history -a; st'
#    ;;
*)
    PROMPT_COMMAND='history -a'
    ;;
esac

THY=thy

export HISTFILE=~/.bash_history.d/.bash_history-$(test -t 0 && basename $(tty))
mkdir -p ~/.bash_history.d; chown $THY ~/.bash_history.d
touch $HISTFILE; chown $THY $HISTFILE

shopt -s histappend
export HISTSIZE=50000
export HISTCONTROL=ignoreboth
export HISTTIMEFORMAT='%F+%T '

mscreen () { screen -c ~/.screenrc-$1 -RdS $1; }

sshs () { ssh -AXt -o StrictHostKeyChecking=no -o ServerAliveInterval=20 ${1:-nil} ${2:+-p $2} bash -l -i -c 'ssh_; exec screen -RdS thy'; }

stw () { echo -ne "\033]0;${USER}@${HOSTNAME}: ${PWD/$HOME/~}\007"; }
sts () { echo -ne '\ek'"${USER}@$(hostname -s): ${PWD/$HOME/~}"'\e\\'; }
st () { stw; sts; }

hfa () { cat ~/.bash_history ~/.bash_history.d/.bash_history-* | grep -i "$1"; }
hf () { hfa "$1" | sort -u; }

ssh_ () {
	SSHVARS="SSH_CLIENT SSH_TTY SSH_AUTH_SOCK SSH_CONNECTION DISPLAY"

	for x in ${SSHVARS} ; do
	    (eval echo $x=\$$x) | sed  's/=/="/
	                                s/$/"/
	                                s/^/export /'
	done 1> ~/.ssh_

	for x in ${SSHVARS} ; do
	    (eval echo $x=\$$x) | sed  's/=/" "/
	                                s/$/")/
	                                s/^/(setenv "/'
	done 1> ~/.ssh.el
}

sshh () { source ~/.ssh_; ssh-add -l; }

fixbrokengdm3 () { xauth -f ~/.Xauthority nlist | xauth nmerge -; }
rfixbrokengdm3ssh () { ssh $1 xauth merge $(ssh $1 -l root echo /var/run/gdm3/auth-for-$USER*)/database; }
mx2x () { ssh -XC $1 x2x -west -to :0; }

mscreen () { screen -c ~/.screenrc-$1 -RdS $1; }
sts2 () { echo -ne '\ek'"$1"'\e\\'; }
sshs2 () { sts2 $1; ssh -AXt -o StrictHostKeyChecking=no -o ServerAliveInterval=20 ${1:-nil} ${2:+-p $2} bash -l -i -c 'ssh_; exec screen -RdS thy'; }

showswap () { find /proc -maxdepth 2 -mmin +1 -name status | xargs grep -l VmSwap | xargs grep -h -e Name -e Swap -e Tgid | cut -d: -f2 | paste - - - | column -t | sort -nr -k3 | grep -v ' 0 '; }
